/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
}

/* 헤더영역 */
header {
    width: 100%;
    height: 197px;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}
header > .top{
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
header > .top > div {
    width: 1200px;
    height: 100%;
    margin:  0 auto;
    text-align: right;
}
header > .top > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px 0 10px;
    color: #646464;
}
header > .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
}
header > .top > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
}
header > .logo{
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}
header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .logo > div > form {
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
header > .logo > div > form > button {
    position: absolute;
    right: 12px; top: 12px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
}

header > .menu{
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .menu > div > ul {
    display: inline-block;
    margin-top: 15px;
}
header > .menu > div > ul:nth-child(1) {float: left;}
header > .menu > div > ul:nth-child(2) {float: right;}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
}
header > .menu > div > ul > li:last-child > a {
    border-right: 1px solid #e9e9e9;
}

/* 메인영역 */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

/* 왼쪽 카테고리 메뉴 */
main > aside {
    float: left;
    width: 215px;
    height: 100%;
}
main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
}
main > aside > .category > li {
    width: 100%;
    height: 40px;
    color: #ccc;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}
main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #fff;
}
main > aside > .category > li > i {}
main > aside > .category > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
}
main > aside > .category > li .fa-angle-right {
    float: right;
    margin-top: 10px;
    margin-right: -3px;
}
main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
}

/* 메인 첫번째 섹션 */
main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}
main > section > section {
    border-top: 1px solid #ececec;
    width: 100%;
    height: auto;
    overflow: hidden;
}
main > section > section > article {
    float: left;
    width: 25%;
    height: 345px;
}
main > section > section > h3 {}
main > section > section > h3 > a {
    display: inline-block;
    margin: 6px;
    border-bottom: 2px solid #111;
    font-weight: bold;
    font-size: 16px;
}
main > section > section > article > a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 슬리이더 영역 */
main > section > .slider {
    width: 100%;
    height: 425px;
    overflow: hidden;
}
main > section > .slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
    margin-bottom: 0;
}
main > section > section > article > a {
    padding: 10px;
}
main > section > section > article > a:hover > p {text-decoration: underline;}
main > section > section > article img {}
main > section > section > article h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
main > section > section > article p {
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
main > section > section > article del::after {content: "원";}
main > section > section > article ins::after {content: "원";}        
main > section > section > article .org_price > del {
    color: #aaa;
}
main > section > section > article .org_price > span {
    color: #eb000a;
}
main > section > section > article .org_price > span::after { content: "↓"; }
main > section > section > article .dis_price { margin-top: 4px; }
main > section > section > article .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}
main > section > section > article .dis_price > span {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url('../img/ico_freeshipping.gif') no-repeat;
}
main > section > .hit {}
main > section > .recommend {}
main > section > .new {}
main > section > .discount {}

/* 마우스를 올리는 카테고리 메뉴의 서브메뉴 출현 */
main > aside > .category > li > a:hover + ol {display: block;}
/* 서브메뉴에 마우스가 올라가면 계속 노출 */
main > aside > .category ol:hover {display: block;}

main > aside > .category > li i {
    font-size: 16px;
    margin-right: 12px;
}
main > aside > .category ol {
    position: absolute;
    left: 215px; top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
}
main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
}
/* 베스트 배너 */
main > aside > .best {
    width: 215px;
    height: auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(55, 55, 5, 0.2) ;
}
main > aside > .best > h1 {
    font-size: 16px;
    color: #111;
    margin: 6px;
}
main > aside > .best > h1 > i {
    margin-right: 6px;
    font-size: 18px;
}
main > aside > .best > ol {}
main > aside > .best > ol > li {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
main > aside > .best > ol > li:first-child > a {
    display: block;
    width: 100%;
    height: 100%;
}
main > aside > .best > ol > li:first-child > a > .thumb {
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
main > aside > .best > ol > li:first-child > a > .thumb > i {
    width: 35px;
    height: 26px
}
main > aside > .best > ol > li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}
main > aside > .best > ol > li > a > article {
    position: absolute;
    right: 0;
    width: 151px;
    padding-left: 6px;
    box-sizing: border-box;
}
main > aside > .best > ol > li > a > .thumb {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}
main > aside > .best > ol > li > a > .thumb >  i {
    position: absolute;
    left: 0; top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 16px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 18px;
}
main > aside > .best > ol > li > a > .thumb > img {
    width: 100%;
}
main > aside > .best > ol > li > a:hover > h2 {
    text-decoration: underline;
}
main > aside > .best > ol > li > a h2 {
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
main > aside > article > ol > li .org_price > del::after {content: "원";}
main > aside > article > ol > li .dis_price > ins::after {content: "원";}        
main > aside > article > ol > li .org_price > del {
    color: #aaa;
}
main > aside > article > ol > li .org_price > span {
    color: #eb000a;
}
main > aside > article > ol > li .org_price > span::after { content: "↓"; }
main > aside > article > ol > li .dis_price { margin-top: 4px; }
main > aside > article > ol > li .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
}

/* list페이지 */
main > #list > section {
    border-top: 0;
}
main > #list {
    padding: 20px;
}
main > #list > nav {
    border-bottom: 1px solid black;
}
main > #list > nav > h1 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0 9px;
}
main > #list > nav > p {
    float: right;
    margin-top: 5px;
}
main > #list > nav > p > span {
    font-weight: bold;
}

main > #list > .sort {
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
main > #list > .sort > li {
    float: left;
    position: relative;
    padding: 15px 0;
}
main > #list > .sort > li > a {
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

main > #list > section {}
main > #list > section > article {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ececec;
}
main > #list > section > article > ul {
    height: 100%;
    overflow: hidden;
}
main > #list > section > article > ul > li {
    position: relative;
    float: left;
    height: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
}
main > #list > section > article > ul > li:nth-of-type(1) {
    width: 20%;
    padding: 0;
}
main > #list > section > article > ul > li:nth-of-type(1) > a {
    display: block;
    width: 100%;
    height: 100%;
}
main > #list > section > article > ul > li:nth-of-type(1) img {
    width: 100%;
}
main > #list > section > article > ul > li:nth-of-type(2) {
    width: 40%;
}
main > #list > section > article > ul > li:nth-of-type(2) > h3 {
    font-size: 15px;
    font-weight: bold;
}
main > #list > section > article > ul > li:nth-of-type(2) > p > a:hover {
    text-decoration: underline;
}
main > #list > section > article > ul .freeshipping {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url('../img/ico_freeshipping.gif') no-repeat;
}
main > #list > section > article > ul > li:nth-of-type(3) {
    width: 20%;
}
main > #list > section > article > ul > li:nth-of-type(4) {
    position: relative;
    width: 20%;
}
main > #list > section > article > ul > li:nth-of-type(4) > h4 {
    margin-bottom: 6px;
}
.badge {
    font-size: 0;
    width: 80px; height: 19px;
    background-repeat: no-repeat;
}
h5.badge.power {
    background-image: url(../img/ico_power_dealer.gif);
}
h5.badge.great {
    background-image: url(../img/ico_great_seller.gif);
}
h5.badge.power.great {
    background: url(../img/ico_power_dealer.gif) no-repeat, 
    url(../img/ico_great_seller.gif) no-repeat 63px;
    width: 160px;
}
main > #list > section > article > ul > li:nth-of-type(4) > h6 {
    position: absolute;
    left: 10px; bottom: 30px;
    font-size: 11px;
    background-image: url(../img/rating_star.png);
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}
h6.rating.star1 {
    width: 50px;
}
h6.rating.star2 {
    width: 64px;
}
h6.rating.star3 {
    width: 78px;
}
h6.rating.star4 {
    width: 91px;
}
h6.rating.star5 {
    width: 106px;
}

main > #list > .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
main > #list > .paging > .prev {}
main > #list > .paging > .prev > a:hover {
    text-decoration: underline;
}
main > #list > .paging > .num {}
main > #list > .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
}
main > #list > .paging > .num > a:hover {
    border-color: black;
}
main > #list > .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}
main > #list > .paging > .next {}
main > #list > .paging > .next > a:hover {
    text-decoration: underline;
}
/* view페이지 : 제품 상제 페이지 */
#view {
    padding: 20px;
}
#view > section {
    height: auto;
}
#view > nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#view > nav > h1 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 7px;
}
#view > nav > p {
    float: right;
    margin-top: 10px;
}
#view > nav > p > span {}
#view > nav > p > strong {font-weight: bold;}
#view .info {
    width: 100%;
    height: 100%;
}
#view .info > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#view .info > .img {}
#view .info > .img > img {
    width: 100%;
}
#view .info > .summary *{
    font-family: 'Noto Sans KR', sans-serif;
}
#view .info > .summary > nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
    overflow: hidden;
}
#view .info > .summary > nav > h1 {
    float: left;
    color: #1e2732;
    font-weight: bold;
    font-size: 1.5em;
}
#view .info > .summary > nav > h2 {
    float: right;
    color: #777;
    font-size: 12px;
    margin-top: 10px;
}
#view .info > div > p {
    font-size: 18px;
    color: #474747;
    line-height: 36px;
}
#view .info > .summary .rating > a {
    color: #346aff;
    text-decoration: underline;
}
h5.rating.star4 {
    background-position: 0 -160px;
}
h5.rating {
    width: 150px;
    height: 20px;
    font-size: 0;
    background-image: url(../img/ico_rating_star.png);
    background-repeat: no-repeat;
    text-indent: 86px;
}
#view .info > .summary .org_price > del {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
}
#view .info > .summary .org_price > del::after {
    content: "원"
}
#view .info > .summary .org_price > span {
    font-family: 'Noto Sans KR', sans-serif;
    color: #eb000a;
    font-size: 16px;
}
#view .info > .summary .org_price > span::after {
    content: "↓";
}
#view .info > .summary .dis_price > ins {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}
#view .info > .summary .dis_price > ins::after {
    content: "원";
}
#view .info > .summary > nav > .delivery {
    color: #2e8de5;
    font-size: 16px;
}
#view .info > .summary > nav > .arrival {
    font-size: 14px;
}
#view .info > .summary .desc {
    display: block;
    color: #aaa;
}
#view .info > .summary > nav > .card > i {
    display: inline-block;
    width: 30px;
    height: 18px;
    top: 4px;
    background-image: url(../img/sp_icon.png);
    font-size: 0;
    vertical-align: text-top;
    margin-right: 2px;
}
#view .info > .summary > nav > .card.free > i {
    background-position: -126px 0;
}
#view .info > .summary > nav > .card.add > i {
    background-position: -51px -21px;
}
#view .info > .summary .origin {
    font-size: 16px;
}
#view .info > .summary > img {
    width: 100%;
}
#view .info > .summary .total {
    margin-top: 16px;
}
#view .info > .summary .total > span {
    float: right;
    line-height: 38px;
    font-size: 24px;
    font-weight: bold;
}
#view .info > .summary .total > span::after {
    content: "원";
}
#view .info > .summary .total > em {
    float: right;
    width: 100px;
    height: 22px;
    font-size: 16px;
    color: #5e636d;
    margin-top: 10px;
}
#view .detail {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#view .detail > nav {
    border-bottom: 1px solid #a4a9b0;
    margin-bottom: 12px;
    padding: 6px 0;
    overflow: hidden;
}
#view .detail > nav > h1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e2732;
    font-size: 1.5em;
    font-weight: bold;
}
#view .detail > img {}
#view .notice {
    width: 100%;
    height: auto;
}
#view .notice > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}
#view .notice > nav > h1 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e2732;
    font-size: 1.5em;
    font-weight: bold;
}
#view .notice > nav > p {
    font-family: 'Noto Sans KR', sans-serif;
    color: #777;
    margin: 6px 0 0 6px;
}
#view .notice > table {
    width: 100%;
}
#view .notice > table tr > td {
    padding: 5px 0 6px 21px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #777;
}
#view .notice > table tr > td:nth-child(1) {
    width: 20%;
    color: #222;
}
#view .notice > table:nth-of-type(2) {
    border-top: 1px solid #ececec;
}
#view .notice > .notice {
    height: auto;
    margin: 20px 0;
    padding: 21px 26px 20px 19px;
    line-height: 20px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #757c8a;
    background: #fafafa;
    border-radius: 2px;
    box-sizing: border-box;
    white-space: unset;
}
#view .review {
    width: 100%;
    height: auto;
}
#view .review * {
    font-family: 'Noto Sans KR', sans-serif;
}
#view .review > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}
#view .review > nav > h1 {
    float: left;
    color: #1e2732;
    font-weight: bold;
    font-size: 1.5em;
}
#view .review > ul {
    padding: 10px;
    box-sizing: border-box;
}
#view .review > ul > li {
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}
#view .review > ul > li > div {
    overflow: hidden;
}
#view .review > ul > li > div > h5 {
    float: left;
}
#view .review > ul > li > div > span {
    float: right;
    color: #555;
}
#view .review > ul > li > h3 {
    color: #555;
    margin-top: 6px;
}
#view .review > ul > li > p {
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 13px;
    line-height: 19px;
    margin-top: 10px;
    white-space: unset;
}

#view .review > .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
#view .review > .paging > .prev {}
#view .review > .paging > .prev > a:hover {
    text-decoration: underline;
}
#view .review > .paging > .num {}
#view .review > .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
}
#view .review > .paging > .num > a:hover {
    border-color: black;
}
#view .review > .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}
#view .review > .paging > .next {}
#view .review > .paging > .next > a:hover {
    text-decoration: underline;
}
/* 장바구니 */
main > #cart > section {
    border-top: 0;
}
#cart {
    padding: 20px;
}
#cart > nav {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #111;
}
#cart > nav > h1 {
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
#cart > nav > p {
    float: right;
    margin-top: 10px;
}
#cart > nav > p > span {
    font-weight: bold;
}
#cart form {}
#cart form > table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-bottom: 1px solid #d3d3d3;
}
#cart form > table tr {}
#cart form > table .empty {
    display: none;
}
#cart form > table .empty > td {
    padding: 50px 0;
    text-align: center;
    color: #777;
    font-weight: bold;
}
#cart form > table tr > th {
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    font-size: 0.95em;
}
#cart form > table tr > th:first-child {
    width: 60px;
}
#cart form > table tr > td {
    text-align: center;
}
#cart form > table tr > td:first-child {
    width: 60px;
}
#cart form > table tr > td > article img {
    width: 80px;
}
#cart form > table tr > td > article {
    overflow: hidden;
}
#cart form > table tr > td > article > a {
    float: left;
    display: inline-block;
}
#cart form > table tr > td > article h2 {}
#cart form > table tr > td > article h2 > a {
    
}
#cart form > table tr > td > article > div {
    float: left;
    margin-top: 10px;
}
#cart form > table tr > td > article > div a {
    font-size: 15px;
    font-family: 'Malgun Gothic', sans-serif;
}
#cart form > table tr > td > article p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
#cart form > table tr > td {}
#cart form > table tr > td {}
#cart form > table tr:last-child > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#cart form > input {
    margin-top: 6px;
    padding: 6px 11px;
    border-color: #bdbdbd;
    border-bottom-color: #828282;
    border-width: 1px;
    background: #fafafa;
}
#cart > .info {
    float: right;
    width: 360px;
    height: 412px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
#cart > .info > h2 {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#cart > .info > table {
    width: 100%;
}
#cart > .info > table td {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
#cart > .info > table tr > td:last-child {
    text-align: right;
}
#cart > .info > table tr:last-child > td {
    font-size: 20px;
}
#cart > .info > table tr:last-child > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#cart > .info > input {
    width: 100%;
    height: 56px;
    font-size: 26px;
    border-width: 1px;
    border-color: #d81818;
    border-bottom-color: #9e1212;
    background: #ed2f2f;
    color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}
/* 주문결제 */
main > #order > section {
    border-top: 0;
}
#order {
    padding: 20px;
}
#order > nav {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #111;
}
#order > nav > h1 {
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
#order > nav > p {
    float: right;
    margin-top: 10px;
}
#order > nav > p > span {
    font-weight: bold;
}
#order form {}
#order form > div >  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-bottom: 1px solid #d3d3d3;
}
#order form > div > table tr {}
#order form > div > table .empty {
    display: none;
}
#order form > div > table tr > th {
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    font-size: 0.95em;
}
#order form > div > table tr > td {
    text-align: center;
}
#order form > div > table tr > td > article img {
    width: 80px;
}
#order form > div > table tr > td > article {
    overflow: hidden;
}
#order form > div > table tr > td > article > a {
    float: left;
    display: inline-block;
}
#order form > div > table tr > td > article > div {
    float: left;
    margin-top: 10px;
}
#order form > div > table tr > td > article > div a {
    font-size: 15px;
    font-family: 'Malgun Gothic', sans-serif;
}
#order form > div > table tr > td > article p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
#order form > div > table tr > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#order form > div > input {
    margin-top: 6px;
    padding: 6px 11px;
    border-color: #bdbdbd;
    border-bottom-color: #828282;
    border-width: 1px;
    background: #fafafa;
}
#order form > section {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#order form section > article {
    width: 560px;
    height: auto;
    margin-bottom: 10px;
}
#order form article input {
    color: #555;
    font-weight: bold;
    padding: 2px 0;
}
#order form article > h1 {
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    border-bottom: 1px solid #111;
}
#order form article div {
    padding: 6px;
    box-sizing: border-box;
}
#order form > div > table tr {
    border-bottom: 1px solid #d3d3d3;
}
#order .delivery > div > label {
    display: block;
    padding: 4px 0;
}
#order .delivery > .user span {
    margin-left: 10px;
    color: #888;
}
#order .delivery > .address input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #F0F4F9;
    border-color: #acc0e0;
    color: #3371C9;
}
#order .delivery > .address input.addr {
    width: 400px;
}
#order .discount > div > p {
    float: left;
}
#order .discount > div >label {
    float: right;
}
#order .discount > div > label > input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #F0F4F9;
    border-color: #acc0e0;
    color: #3371C9;
}
#order .discount > div > span {
    display: block;
    margin-top: 20px;
    color: #888;
}
#order .payment > div {
    margin-bottom: 10px;
}
#order .payment > div > span {
    display: inline-block;
    color: #3a85c8;
    margin: 6px 0;
}
#order .payment > div label {
    margin-right: 16px;
}
#order form section > article > div {
    padding: 6px;
    box-sizing: border-box;
}
#order form .alert {
    width: 560px;
    background-color: #f7f7f7;
    padding: 6px;
    padding-left: 20px;
    color: #999;
    box-sizing: border-box;
}
#order form .alert > ul {
    list-style: inherit;
}
#order form .alert > ul > li {
    line-height: 20px;
}
#order form .info {
    position: absolute;
    right: 0; top: 26px;
    width: 360px;
    height: 412px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
#order form .info > h2 {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #111;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#order form .info > table {
    width: 100%;
}
#order form .info > table td {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
#order form .info > table tr > td:last-child {
    text-align: right;
}
#order form .info > table tr:last-child > td {
    font-size: 20px;
}
#order form .info > table tr:last-child > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#order form .info > input {
    width: 100%;
    height: 56px;
    font-size: 26px;
    border-width: 1px;
    border-color: #d81818;
    border-bottom-color: #9e1212;
    background: #ed2f2f;
    color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}
/* 주문완료 */
main > #order-complete > section {
    border-top: 0;
}
#order-complete {
    padding: 20px;
}
#order-complete > section {
    width: 100%;
}
#order-complete > section > article {
    width: 100%;
    height: auto;
}
#order-complete > nav {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #111;
    margin-bottom: 20px;
}
#order-complete > nav > h1 {
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
#order-complete > nav > p {
    float: right;
    margin-top: 10px;
}
#order-complete > nav > p > span {
    font-weight: bold;
}
#order-complete > div {
    text-align: center;
}
#order-complete > div > h2 {
    font-size: 32px;
    padding: 10px;
}
#order-complete > div > h2 > i {
    font-size: 32px;
}
#order-complete > div > p {
    font-size: 18px;
    padding: 10px;
}
#order-complete > section > article {
    margin-top: 16px;
}
#order-complete > section > article > h1 {
    padding: 6px 0;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}
#order-complete article table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
}
#order-complete table tr {
    border-bottom: 1px solid #d3d3d3;;
}
#order-complete .product {}
#order-complete .product > div > table tr {}
#order-complete .product > div > table .empty {
    display: none;
}
#order-complete .product > div > table tr > th {
    padding: 12px 0;
    text-align: center;
    font-size: 0.95em;
}
#order-complete .product > div > table tr > th:last-child {
    width: 200px;
}
#order-complete .product > div > table tr > td {
    text-align: center;
}
#order-complete .product > div > table tr > td > article img {
    width: 80px;
}
#order-complete .product > div > table tr > td > article {
    overflow: hidden;
}
#order-complete .product > div > table tr > td > article > a {
    float: left;
    display: inline-block;
}
#order-complete .product > div > table tr > td > article > div {
    float: left;
    margin-top: 10px;
}
#order-complete .product > div > table tr > td > article > div a {
    font-size: 15px;
    font-family: 'Malgun Gothic', sans-serif;
}
#order-complete .product > div > table tr > td > article p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
#order-complete .product > div > table tr > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#order-complete .product > div > table .total {}
#order-complete .product > div > table .total > td {}
#order-complete .product > div > table .total table {
    width: 100%;
    color: #111;
    border: none;
    border-collapse: collapse;
}
#order-complete .product > div > table .total table tr {
    border: none;
}
#order-complete .product > div > table .total table tr > td {
    background: #f2f2f2;
    font-weight: normal;
    text-align: right;
    color: #111;
    border-bottom: none;
    padding: 10px;
    box-sizing: border-box;
}
#order-complete .product > div > table .total table tr:last-child > td:last-child {
    color: #ff006c;
    font-weight: bold;
}
#order-complete .product > div > input {
    margin-top: 6px;
    padding: 6px 11px;
    border-color: #bdbdbd;
    border-bottom-color: #828282;
    border-width: 1px;
    background: #fafafa;
}
#order-complete .product > section {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#order-complete .product section > article {
    width: 560px;
    height: auto;
    margin-bottom: 10px;
}
#order-complete .product article input {
    color: #555;
    font-weight: bold;
    padding: 2px 0;
}
#order-complete .product article > h1 {
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    border-bottom: 1px solid #111;
}
#order-complete .product article div {
    padding: 6px;
    box-sizing: border-box;
}
#order-complete .product > div > table tr {
    border-bottom: 1px solid #d3d3d3;
}
#order-complete .order table tr {}
#order-complete .order table tr > td {
    padding: 10px;
    box-sizing: border-box;
}
#order-complete .order table tr > td:nth-child(1) {
    width: 160px;
    background: #f2f2f2;
}
#order-complete .order table tr > td:nth-child(2) {
    width: 545px;
}
#order-complete .order table tr > td:nth-child(3) {
    width: 88px;
    text-align: right;
    vertical-align: top;
    background: #f2f2f2;
}
#order-complete .order table tr > td:nth-child(4) {
    width: 100px;
    text-align: right;
    vertical-align: top;
    background: #f2f2f2;
}
#order-complete .delivery table tr > td {
    padding: 10px;
    box-sizing: border-box;
}
#order-complete .delivery table tr > td:nth-child(1) {
    width: 160px;
    background: #f2f2f2;
}
#order-complete .delivery table tr > td:nth-child(2) {
    width: 545px;
}
#order-complete .delivery table tr > td:nth-child(3) {
    width: 191px;
    text-align: left;
    vertical-align: top;
    background: #f2f2f2;
}
#order-complete .alert {
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px;
    padding-left: 24px;
    color: #999;
    box-sizing: border-box;
}
#order-complete .alert > ul {
    list-style: inherit;
}
#order-complete .alert > ul > li {
    line-height: 20px;
}
#order-complete .alert > h1 {
    margin-left: -12px;
}


/* 푸터영역 */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > ul {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
}
footer > ul > li > a {
    border-left: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul> li:last-child > a {
    border-right: 1px solid #d7d7d7;
}
footer > div {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
}
footer p {
    float: left;
    color: #676767;
}
footer p > strong {
    display: inline-block;
    color: #464646;
    padding: 7px 0;
    font-weight: bold;
}
footer p:nth-child(2) {
    padding: 0 30px;
}

#top {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: 600px;
    /* display: none; */
    width: 42px;
    height: 42px;
    background-image: url('../img/top.png');
    border: none;
    font-size: 0;
    cursor: pointer;
}